@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #F0F4FC;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.bg-gradient-orange {
		@apply bg-gradient-to-r from-primary-yellow to-primary-pink;
	}
}
